* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --swiper-theme-color: #000;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins',sans-serif !important;
  overflow-x: hidden;
}

ul {
  margin: 0;
  list-style: none !important;
}

a {
  text-decoration: none;
}

.swiper-button-prev,
.swiper-button-next {
  border: 1px solid #171717;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  -webkit-box-shadow: 0px 0px 1px 4px white inset;
          box-shadow: 0px 0px 1px 4px white inset;
  top: 59% !important;
  background: white;
}

.swiper-button-prev {
  left: 0 !important;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
  right: 0 !important;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next::after, .swiper-button-prev::after {
  content: "" !important;
}

.topSpace {
  margin-top: 132px !important;
}

@media screen and (max-width: 992px) {
  .topSpace {
    margin-top: 142px;
  }
}

.pageHeader {
  -webkit-box-shadow: 0px 3px 8px -5px #b3b3b3;
          box-shadow: 0px 3px 8px -5px #b3b3b3;
  position: relative;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.pageHeader__top {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageHeader__mobileSearch {
  display: none;
}

.pageHeader__mainMenu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pageHeader__mainMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.pageHeader__mainMenu ul > li {
  font-size: 1.6rem;
  position: relative;
  color: #171717;
}

.pageHeader__mainMenu ul > li a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}

.pageHeader__mainMenu ul > li::before {
  content: "";
  position: absolute;
  width: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -7px;
  height: 35px;
  border-radius: 50%;
  z-index: -1;
  background-color: #FFD200;
}

.pageHeader__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pageHeader__search {
  position: relative;
  height: 30px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.pageHeader__search input[type='search'] {
  height: 100%;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 25px;
  overflow: hidden;
  padding-left: 9px;
}

.pageHeader__search button {
  height: 100%;
  position: absolute;
  border: none;
  background-color: #171717;
  color: #ffffff;
  width: 30px;
  right: 0;
  border-radius: 0 25px 25px 0;
}

.pageHeader__innerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 90%;
  max-width: 1444px;
  margin: 0 auto;
  position: relative;
  gap: 25px;
}

.pageHeader__userMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pageHeader__userMenu > a {
  background-color: #FFD200;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 39px;
  color: #171717;
  font-size: 26px;
  font-weight: 700;
}

.pageHeader__bottom {
  background-color: #f5f5f5;
  height: 45px;
}

.pageHeader__subcatBox {
  gap: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  border-radius: 10px 10px 0 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pageHeader__subcatBox:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0px -5px 8px -5px #cacaca;
          box-shadow: 0px -5px 8px -5px #cacaca;
}

.pageHeader__subcatBox:hover .pageHeader__shadow {
  visibility: visible;
  z-index: 99;
}

.pageHeader__subcatBox:hover .pageHeader__subcategoriesBar {
  visibility: visible;
}

.pageHeader__subcatBox a {
  color: #171717;
  font-weight: 300;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  gap: 4px;
}

.pageHeader__subcategoriesBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
  position: absolute;
  background-color: #ffffff;
  width: 650px;
  left: 325px;
  bottom: -340px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 0px 0px 15px 15px;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 8px -5px #161616;
          box-shadow: 0px 3px 8px -5px #161616;
}

.pageHeader__subcategoriesBar .subcats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 270px;
}

.pageHeader__subcategoriesBar .subcats a:hover {
  font-weight: 700;
}

.pageHeader__subcatBox:nth-of-type(6) section, .pageHeader__subcatBox:nth-of-type(7) section, .pageHeader__subcatBox:nth-of-type(8) section, .pageHeader__subcatBox:nth-of-type(9) section, .pageHeader__subcatBox:nth-of-type(10) section, .pageHeader__subcatBox:nth-of-type(11) section {
  left: -218px;
}

.pageHeader__subcatBox a img {
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.pageHeader__barNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f5f5f5;
}

.pageHeader__barNav a {
  display: block;
  font-weight: 700;
}

.pageHeader__subLinks {
  padding: 10px 0;
}

.pageHeader .showSubcat {
  display: none;
  font-size: 2rem;
  color: #171717;
}

.pageHeader .mobileMainMenu {
  display: none;
}

.pageHeader__mobileMenuTitle {
  display: none;
}

.pageHeader #OpenMenuBtn {
  display: none;
  font-size: 26px;
  color: #171717;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .pageHeader__innerBox {
    width: 95%;
    gap: 9px;
  }
}

@media screen and (max-width: 1200px) {
  .pageHeader__subcatBox > a > img {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .pageHeader__mobileSearch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f5f5f5;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 7px 12px;
    gap: 25px;
  }
  .pageHeader__innerBox > form {
    display: none;
  }
  .pageHeader #OpenMenuBtn {
    display: block;
  }
  .pageHeader__mobileMenuTitle {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    width: 100%;
    gap: 10px;
    -webkit-box-align: self-end;
        -ms-flex-align: self-end;
            align-items: self-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pageHeader__mobileMenuTitle i {
    font-size: 19px;
    line-height: 24px;
  }
  .pageHeader__mobileMenuTitle h3 {
    font-size: 15px;
  }
  .pageHeader__top .pageHeader__mainMenu {
    display: none;
  }
  .pageHeader__bottom {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000 !important;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100%;
    width: 275px;
    padding: 80px 12px 30px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .pageHeader__bottom > .mobileMainMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  .pageHeader__bottom > .mobileMainMenu ul {
    padding-left: 13px;
  }
  .pageHeader__bottom .pageHeader__innerBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .pageHeader__subcatBox {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px;
    height: initial;
  }
  .pageHeader__subcatBox > a > img {
    display: block;
  }
  .pageHeader__subcatBox:hover .pageHeader__shadow {
    visibility: hidden !important;
    z-index: -1;
  }
  .pageHeader__subcatBox > a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    pointer-events: none;
  }
  .pageHeader__subcatBox > a > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pageHeader__subcategoriesBar {
    display: none;
    border-radius: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: initial;
  }
  .pageHeader__subcategoriesBar .subcats {
    height: initial;
    min-height: initial;
  }
  .showSubcat {
    display: block !important;
    cursor: pointer;
  }
}

#MenuShadow {
  background-color: #171717;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.showOffcanvasMenuShadow {
  opacity: 0.6 !important;
  z-index: 99 !important;
}

.pageHeader__shadow {
  position: fixed;
  opacity: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.showHeaderShadow {
  z-index: 99;
  opacity: 1;
}

.showSubmenuOnMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  position: initial;
  height: 100%;
  width: 100%;
  left: 0 !important;
  top: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.showOffcanvasMenu {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.setWhiteBox {
  background-color: #ffffff;
  margin-bottom: 20px;
}

.pageFooter {
  background-color: #f5f5f5;
}

.pageFooter__innerWrapper {
  width: 90%;
  max-width: 1444px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #acacac;
}

@media screen and (max-width: 768px) {
  .pageFooter__innerWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.pageFooter__contactBox > span {
  display: block;
  font-size: 1.4rem;
  margin: 7px 0;
}

.pageFooter__contactBox i {
  font-size: 1.5rem;
  color: #171717;
}

.pageFooter__subtitle {
  font-size: 1.6rem;
  font-weight: 700;
  display: block;
}

.pageFooter ul {
  list-style: none;
  padding-left: 0;
}

.pageFooter ul li {
  list-style: none;
  margin: 7px 0;
}

.pageFooter ul li > a {
  color: #171717;
  font-size: 1.4rem;
}

.pageFooter ul li > a:hover {
  text-decoration: underline;
}

.pageFooter__goodDeal {
  color: #e62f2f;
}

.pageFooter__goodDeal:hover {
  text-decoration: underline;
  color: #e62f2f;
}

.pageFooter__regulationsMenu li {
  list-style: none;
}

.pageFooter__regulationsMenu li a {
  font-size: 1.4rem;
}

.pageFooter__biggerIcon {
  margin-top: 20px;
  display: inline-block;
}

.pageFooter__biggerIcon i {
  font-size: 2.4rem;
  margin-right: 12px;
}

.pageFooter__copyright {
  font-size: 1.4rem;
  text-align: center;
  padding: 12px 0;
}

.homeSlider {
  width: 90%;
  max-width: 1444px;
  margin: 18px auto;
}

@media screen and (max-width: 1400px) {
  .homeSlider {
    width: 95%;
  }
}

.homeSlider .swiper-container {
  overflow-x: hidden;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.homeSlider .swiper-wrapper div:nth-child(2) div {
  color: #ffffff;
}

.homeSlider .swiper-wrapper div:nth-child(2) div a {
  border-color: #ffffff;
  color: #ffffff;
}

.homeSlider__buttons {
  position: relative !important;
  bottom: -5px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .homeSlider__buttons {
    display: none;
  }
}

.homeSlider__buttons span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 0;
  border-radius: 0px !important;
}

.homeSlider__buttons span p {
  top: 4px;
  font-size: 1.3rem;
}

.homeSlider__buttons .swiper-pagination-bullet-active {
  height: 2px;
  background-color: #FFD200;
}

.homeSlider__buttons .swiper-pagination-bullet-active p {
  font-weight: 500;
}

.homeSlider__slide {
  height: 320px !important;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 9px -5px #616161;
          box-shadow: 0px 3px 9px -5px #616161;
  padding: 35px;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .homeSlider__slide {
    min-height: 450px;
  }
}

.homeSlider__content {
  width: 50%;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #171717;
}

.homeSlider__content h2 {
  font-size: 3.5rem;
}

.homeSlider__content p {
  font-size: 1.6rem;
}

.homeSlider__content > a {
  display: block;
  background-color: transparent;
  border: 2px solid #171717;
  width: 180px;
  color: #171717;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 500;
  margin-top: 40px;
}

.homeSlider__content > a:hover {
  background-color: #171717;
  color: #ffffff;
}

.homeMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1444px;
  margin: 45px auto 0;
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #f5f5f5;
}

.homeMain__cardsWrapperMobile {
  display: none;
  overflow-x: hidden;
  position: relative;
}

@media screen and (max-width: 992px) {
  .homeMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homeMain__cardsWrapperMobile {
    display: block;
  }
  .homeMain__cardsWrapper {
    display: none;
  }
}

.homeMain .gray_circle {
  display: block;
  background: #f5f5f5;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 8px;
  font-size: 1.8rem;
  -webkit-box-shadow: 0px 3px 15px 1px #c7c7c7;
          box-shadow: 0px 3px 15px 1px #c7c7c7;
  margin-bottom: 5px;
}

.homeMain .prevPrice {
  text-decoration: line-through;
  font-size: 1.8rem;
  color: #e62f2f;
  letter-spacing: 1px;
  font-weight: 700;
}

.homeMain .newPrice {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

@media screen and (max-width: 1400px) {
  .homeMain {
    width: 95%;
  }
}

.homeMain__hotShot {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
  border: 2.5px solid #065c44;
  border-radius: 15px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.homeMain__hotshotHeader {
  color: #171717;
}

.homeMain__hotshotHeader h2 {
  font-size: 3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeMain__hotshotHeader h2::before {
  content: "";
  position: absolute;
  width: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -7px;
  height: 35px;
  border-radius: 50%;
  z-index: -1;
  background-color: #FFD200;
}

.homeMain__hotshotHeader h2 span {
  font-size: 1.4rem;
  background: #065c44;
  color: #ffffff;
  padding: 7px 16px;
  border-radius: 15px;
  line-height: 24px;
  text-align: center;
}

.homeMain__hotshotHeader p {
  font-size: 1.6rem;
  font-weight: 300;
}

.homeMain__hotshotContent {
  text-align: center;
  position: relative;
}

.homeMain__hotshotContent::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #FFD200;
  overflow: hidden;
  top: 40%;
  lefT: 50%;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.homeMain__hotshotContent:hover::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.homeMain__hotshotContent img {
  width: 70%;
}

.homeMain__hotshotContent h3 {
  color: #171717;
  font-weight: 700;
  font-size: 1.8rem;
}

.homeMain__hotshotContent p {
  color: #171717;
  font-size: 1.4rem;
  opacity: 0.8;
}

.homeMain__hotshotClock p {
  font-size: 2rem;
}

.homeMain__featured {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  padding: 25px;
}

.homeMain__featured h2 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.homeMain__productsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.homeMain__productCard {
  color: #171717;
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.homeMain__productCard .cartButton {
  position: absolute;
  left: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: none;
  background: #f5f5f5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 35px;
  color: #ffffff;
  font-size: 1.6rem;
}

.homeMain__productCard:hover .cartButton {
  background: #065c44;
}

.homeMain__productCard::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #FFD200;
  overflow: hidden;
  top: 40%;
  left: 50%;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.homeMain__productCard:hover::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.homeMain__productCard:hover {
  border: 1px solid #065c44;
}

.homeMain__productCard img {
  width: 80%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1200px) {
  .homeMain__productCard img {
    width: 100%;
  }
}

.homeMain__productCard h3 {
  font-size: 1.6rem;
  font-weight: 400;
  width: 60%;
  color: #171717;
}

.homeMain__productCard p {
  font-size: 2rem;
  width: 40%;
  color: #171717;
  font-weight: 600;
  text-align: right;
  position: relative;
}

.homeMain__productCard p::before {
  content: "";
  position: absolute;
  width: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -7px;
  height: 35px;
  border-radius: 50%;
  z-index: -1;
  background-color: #FFD200;
  left: initial;
  right: -5px;
}

@media screen and (max-width: 1200px) {
  .homeMain__productCard p {
    font-size: 1.6rem;
  }
}

.homeMain__productInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  text-align: left;
}

.homeCategories {
  width: 90%;
  max-width: 1444px;
  margin: 30px auto 0;
  gap: 30px;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 30px;
  border-bottom: 2px solid #f5f5f5;
}

.homeCategories h2 {
  font-size: 3rem;
  position: relative;
}

.homeCategories h2::before {
  content: "";
  position: absolute;
  width: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -7px;
  height: 35px;
  border-radius: 50%;
  z-index: -1;
  background-color: #FFD200;
  left: 0;
}

.homeCategories p {
  font-size: 1.6rem;
  margin-bottom: 15px;
  font-weight: 300;
}

.homeCategories .sliderCategories {
  padding: 10px 0 !important;
}

.homeCategories__categoryCard {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 240px !important;
  -webkit-box-shadow: 0px 3px 6px 0.5px #d5d5d5ba;
          box-shadow: 0px 3px 6px 0.5px #d5d5d5ba;
  color: #171717;
  font-weight: 400;
  border-radius: 12px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.homeCategories__categoryCard:hover {
  color: #171717;
}

.homeCategories__categoryCard:hover::before {
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  height: 100%;
}

.homeCategories__categoryCard h3 {
  margin: 20px auto;
  width: 150px;
}

.homeCategories__categoryCard::before {
  content: '';
  z-index: -1;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background-color: #ffd200;
  position: absolute;
  top: 21%;
  left: 0;
  right: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
  margin: 0 auto;
}

.homeCategories__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeCategories__top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .homeCategories__top ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.homeCategories__top ul li {
  font-size: 1.2rem;
  background: #065c44;
  color: #ffffff;
  padding: 2px 16px;
  border-radius: 15px;
  line-height: 24px;
  text-align: center;
}

.homeCategories__top ul li a {
  color: #ffffff;
}

.homePopular {
  width: 90%;
  max-width: 1444px;
  margin: 30px auto 0;
  gap: 30px;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 30px;
  border-bottom: 2px solid #f5f5f5;
}

.homePopular > h2 {
  font-size: 3rem;
  position: relative;
}

.homePopular > h2::before {
  content: "";
  position: absolute;
  width: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -7px;
  height: 35px;
  border-radius: 50%;
  z-index: -1;
  background-color: #FFD200;
  left: 0;
}

.homePopular > p {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 15px;
}

.homePopular ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: none !important;
}

@media screen and (max-width: 576px) {
  .homePopular ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.homePopular ul > article {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  max-width: 272px;
  margin-right: 15px;
}

@media screen and (max-width: 576px) {
  .homePopular ul > article {
    max-width: 100%;
    margin-right: initial;
    width: 100%;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }
}

.homeBlog {
  width: 90%;
  max-width: 1444px;
  margin: 30px auto 0;
  gap: 30px;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 30px;
  border-bottom: 2px solid #f5f5f5;
}

.homeBlog h2 {
  font-size: 3rem;
  position: relative;
}

.homeBlog h2::before {
  content: "";
  position: absolute;
  width: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -7px;
  height: 35px;
  border-radius: 50%;
  z-index: -1;
  background-color: #FFD200;
  left: 0;
}

.homeBlog p {
  font-size: 1.6rem;
  margin-bottom: 15px;
  font-weight: 300;
}

.homeBlog__postCard .postCardImg {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-box-shadow: 0px 3px 6px 0.5px #d5d5d5ba;
          box-shadow: 0px 3px 6px 0.5px #d5d5d5ba;
  border-radius: 12px;
  margin-bottom: 13px;
}

.homeBlog__postCard h3 {
  font-size: 1.7rem;
  font-weight: 500;
  color: #171717;
  min-height: 41px;
}

.homeBlog__postCard p {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 300;
  color: #171717;
}

.homeBlog__postCard .postDate {
  font-size: 1.2rem;
  font-weight: 500;
}

.homeProducents {
  width: 90%;
  max-width: 1444px;
  margin: 30px auto 0;
  gap: 30px;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 30px;
}

.homeProducents > h2 {
  font-size: 3rem;
  position: relative;
}

.homeProducents > h2::before {
  content: "";
  position: absolute;
  width: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -7px;
  height: 35px;
  border-radius: 50%;
  z-index: -1;
  background-color: #FFD200;
  left: 0;
}

.homeProducents > p {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 15px;
}

.homeProducents img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.shop-content {
  padding: 3rem 0;
}

.shop-content .row {
  margin-left: 0;
  margin-right: 0;
}

.post-type-archive-product .content-area,
.product-template-default .content-area,
.tax-product_cat .content-area {
  padding: 0;
}

.woocommerce .woocommerce-breadcrumb a {
  font-weight: 600;
}

.woocommerce ul.products.columns-1 li.product:first-child,
.woocommerce-page ul.products.columns-1 li.product:first-child {
  margin-top: 20px;
}

.woocommerce .products ul, .woocommerce ul.products {
  border-top: 1px solid #eee;
}

.woocommerce ul.products li.product a img {
  width: 255px;
  height: auto;
  display: block;
  margin: 0 1em 1em 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  float: left;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
  font-size: 25px;
  font-weight: 700;
  color: #000;
  margin: 0;
  padding: 0;
  display: table;
}

.post-type-archive-product .woocommerce-loop-product__title {
  margin-bottom: 0.5rem !important;
}

.woocommerce ul.products li.product .button {
  margin-top: 0;
}

.woocommerce ul.products li.product p {
  color: #000;
}

.woocommerce ul.products li.product .price {
  color: #000;
  font-weight: 600;
}

.woocommerce ul.products li.product .price ins {
  font-size: 140%;
}

.woocommerce ul.products li.product .onsale {
  top: 16px;
  left: 0;
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border-radius: 0;
  width: 83px;
  padding: 0;
  background-color: #D2335B;
  margin: 0;
  font-weight: 400;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  color: #000;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  padding: 12px;
}

/* General */
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.regularPrice {
  text-decoration: line-through;
  color: #e62f2f;
  margin-right: 6px;
  font-size: 1.5rem;
  position: absolute;
  top: 25px;
}

.discountInfo {
  position: absolute;
  right: 10px;
  background: #065c44;
  color: #ffffff;
  width: 50px;
  display: block;
  padding: 3px 0;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  top: 10px;
}
/*# sourceMappingURL=main.css.map */