* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins',sans-serif !important;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
}

.pageHeader {
  -webkit-box-shadow: 0px 3px 8px -5px #b3b3b3;
          box-shadow: 0px 3px 8px -5px #b3b3b3;
  position: relative;
  z-index: 100;
  background-color: #ffffff;
}

.pageHeader__top {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageHeader__mobileSearch {
  display: none;
}

.pageHeader__mainMenu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pageHeader__mainMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.pageHeader__mainMenu ul > li {
  font-size: 1.6rem;
  position: relative;
  color: #171717;
}

.pageHeader__mainMenu ul > li a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}

.pageHeader__mainMenu ul > li::before {
  content: "";
  position: absolute;
  width: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -7px;
  height: 35px;
  border-radius: 50%;
  z-index: -1;
  background-color: #FFD200;
}

.pageHeader__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pageHeader__search {
  position: relative;
  height: 30px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.pageHeader__search input[type='search'] {
  height: 100%;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 25px;
  overflow: hidden;
  padding-left: 9px;
}

.pageHeader__search button {
  height: 100%;
  position: absolute;
  border: none;
  background-color: #171717;
  color: #ffffff;
  width: 30px;
  right: 0;
  border-radius: 0 25px 25px 0;
}

.pageHeader__innerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 90%;
  max-width: 1444px;
  margin: 0 auto;
  position: relative;
  gap: 25px;
}

.pageHeader__userMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pageHeader__userMenu > a {
  background-color: #FFD200;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 39px;
  color: #171717;
  font-size: 26px;
  font-weight: 700;
}

.pageHeader__bottom {
  background-color: #f5f5f5;
  height: 45px;
}

.pageHeader__subcatBox {
  gap: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  border-radius: 10px 10px 0 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pageHeader__subcatBox:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0px -5px 8px -5px #cacaca;
          box-shadow: 0px -5px 8px -5px #cacaca;
}

.pageHeader__subcatBox:hover .pageHeader__shadow {
  visibility: visible;
  z-index: 99;
}

.pageHeader__subcatBox:hover .pageHeader__subcategoriesBar {
  visibility: visible;
}

.pageHeader__subcatBox a {
  color: #171717;
  font-weight: 300;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  gap: 4px;
}

.pageHeader__subcategoriesBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
  position: absolute;
  background-color: #ffffff;
  width: 650px;
  left: 325px;
  bottom: -340px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 0px 0px 15px 15px;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 8px -5px #161616;
          box-shadow: 0px 3px 8px -5px #161616;
}

.pageHeader__subcategoriesBar .subcats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 270px;
}

.pageHeader__subcategoriesBar .subcats a:hover {
  font-weight: 700;
}

.pageHeader__subcatBox:nth-of-type(6) section, .pageHeader__subcatBox:nth-of-type(7) section, .pageHeader__subcatBox:nth-of-type(8) section, .pageHeader__subcatBox:nth-of-type(9) section, .pageHeader__subcatBox:nth-of-type(10) section, .pageHeader__subcatBox:nth-of-type(11) section {
  left: -218px;
}

.pageHeader__subcatBox a img {
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.pageHeader__barNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f5f5f5;
}

.pageHeader__barNav a {
  display: block;
  font-weight: 700;
}

.pageHeader__subLinks {
  padding: 10px 0;
}

.pageHeader .showSubcat {
  display: none;
  font-size: 2rem;
  color: #171717;
}

.pageHeader .mobileMainMenu {
  display: none;
}

.pageHeader__mobileMenuTitle {
  display: none;
}

.pageHeader #OpenMenuBtn {
  display: none;
  font-size: 26px;
  color: #171717;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .pageHeader__innerBox {
    width: 95%;
    gap: 9px;
  }
}

@media screen and (max-width: 1200px) {
  .pageHeader__subcatBox > a > img {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .pageHeader {
    z-index: initial;
  }
  .pageHeader__mobileSearch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f5f5f5;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 7px 12px;
    gap: 25px;
  }
  .pageHeader__innerBox > form {
    display: none;
  }
  .pageHeader #OpenMenuBtn {
    display: block;
  }
  .pageHeader__mobileMenuTitle {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    width: 100%;
    gap: 10px;
    -webkit-box-align: self-end;
        -ms-flex-align: self-end;
            align-items: self-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pageHeader__mobileMenuTitle i {
    font-size: 19px;
    line-height: 24px;
  }
  .pageHeader__mobileMenuTitle h3 {
    font-size: 15px;
  }
  .pageHeader__top .pageHeader__mainMenu {
    display: none;
  }
  .pageHeader__bottom {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000 !important;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100%;
    width: 275px;
    padding: 80px 12px 30px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .pageHeader__bottom > .mobileMainMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  .pageHeader__bottom > .mobileMainMenu ul {
    padding-left: 13px;
  }
  .pageHeader__bottom .pageHeader__innerBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .pageHeader__subcatBox {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px;
    height: initial;
  }
  .pageHeader__subcatBox > a > img {
    display: block;
  }
  .pageHeader__subcatBox:hover .pageHeader__shadow {
    visibility: hidden !important;
    z-index: -1;
  }
  .pageHeader__subcatBox > a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    pointer-events: none;
  }
  .pageHeader__subcatBox > a > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pageHeader__subcategoriesBar {
    display: none;
    border-radius: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: initial;
  }
  .pageHeader__subcategoriesBar .subcats {
    height: initial;
    min-height: initial;
  }
  .showSubcat {
    display: block !important;
    cursor: pointer;
  }
}

#MenuShadow {
  background-color: #171717;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.showOffcanvasMenuShadow {
  opacity: 0.6 !important;
  z-index: 99 !important;
}

.pageHeader__shadow {
  position: fixed;
  opacity: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.showHeaderShadow {
  z-index: 99;
  opacity: 1;
}

.showSubmenuOnMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  position: initial;
  height: 100%;
  width: 100%;
  left: 0 !important;
  top: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.showOffcanvasMenu {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.setWhiteBox {
  background-color: #ffffff;
  margin-bottom: 20px;
}

.homeSlider {
  width: 90%;
  max-width: 1444px;
  margin: 18px auto;
}

@media screen and (max-width: 1400px) {
  .homeSlider {
    width: 95%;
  }
}

.homeSlider .swiper-container {
  overflow-x: hidden;
}

.homeSlider .swiper-wrapper div:nth-child(2) div {
  color: #ffffff;
}

.homeSlider .swiper-wrapper div:nth-child(2) div a {
  border-color: #ffffff;
  color: #ffffff;
}

.homeSlider__buttons {
  position: relative !important;
  bottom: -5px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .homeSlider__buttons {
    display: none;
  }
}

.homeSlider__buttons span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 0;
  border-radius: 0px !important;
}

.homeSlider__buttons span p {
  top: 4px;
  font-size: 1.3rem;
}

.homeSlider__buttons .swiper-pagination-bullet-active {
  height: 2px;
  background-color: #FFD200;
}

.homeSlider__buttons .swiper-pagination-bullet-active p {
  font-weight: 500;
}

.homeSlider__slide {
  height: 320px !important;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  padding: 35px;
}

@media screen and (max-width: 768px) {
  .homeSlider__slide {
    min-height: 450px;
  }
}

.homeSlider__content {
  width: 50%;
  min-width: 200px;
  margin-top: 30px;
  color: #171717;
}

.homeSlider__content > h2 {
  font-size: 3.5rem;
}

.homeSlider__content > p {
  font-size: 1.6rem;
}

.homeSlider__content > a {
  display: block;
  background-color: transparent;
  border: 2px solid #171717;
  width: 180px;
  color: #171717;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 500;
  margin-top: 40px;
}

.homeSlider__content > a:hover {
  background-color: #171717;
  color: #ffffff;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.shop-content {
  padding: 3rem 0;
}

.shop-content .row {
  margin-left: 0;
  margin-right: 0;
}

.post-type-archive-product .content-area,
.product-template-default .content-area,
.tax-product_cat .content-area {
  padding: 0;
}

.woocommerce .woocommerce-breadcrumb a {
  font-weight: 700;
}

.woocommerce ul.products.columns-1 li.product:first-child,
.woocommerce-page ul.products.columns-1 li.product:first-child {
  margin-top: 20px;
}

.woocommerce .products ul, .woocommerce ul.products {
  border-top: 1px solid #eee;
}

.woocommerce ul.products li.product a img {
  width: 255px;
  height: auto;
  display: block;
  margin: 0 1em 1em 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  float: left;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
  font-size: 25px;
  font-weight: 700;
  color: #000;
  margin: 0;
  padding: 0;
  display: table;
}

.post-type-archive-product .woocommerce-loop-product__title {
  margin-bottom: 0.5rem !important;
}

.woocommerce ul.products li.product .button {
  margin-top: 0;
}

.woocommerce ul.products li.product p {
  color: #000;
}

.woocommerce ul.products li.product .price {
  color: #000;
  font-weight: 600;
}

.woocommerce ul.products li.product .price ins {
  font-size: 140%;
}

.woocommerce ul.products li.product .onsale {
  top: 16px;
  left: 0;
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border-radius: 0;
  width: 83px;
  padding: 0;
  background-color: #D2335B;
  margin: 0;
  font-weight: 400;
}

.woocommerce ul.products li.product .onsale:before {
  content: "";
  position: absolute;
  top: 0;
  left: 83px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 22px 0 0;
  border-color: #D2335B transparent transparent transparent;
}

.woocommerce ul.products li.product .onsale:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 83px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 22px 24px 0;
  border-color: transparent transparent #D2335B transparent;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  color: #000;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  padding: 12px;
}

/* General */
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=main.css.map */