* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --swiper-theme-color: #000;
}

html {
    font-size:10px;
}


body {
    font-family: 'Poppins',sans-serif !important;
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin:0;
}

a {
    text-decoration: none;
}

.swiper-button-prev,
.swiper-button-next {
    border: 1px solid $colorDark;
    width:30px !important;
    height: 30px !important;
    border-radius: 50%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
    box-shadow: 0px 0px 1px 4px white inset;
    top:59% !important;
    background: white;


}
.swiper-button-prev {
    left:0 !important;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
  }
  
  .swiper-button-next {
    right:0 !important;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
  }

  .swiper-button-next::after, .swiper-button-prev::after {
    content: "" !important;
  }


  .topSpace {
    margin-top:132px !important;
    @media screen and (max-width: 992px) {
        margin-top:142px;
    }
  }